* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Source Sans Pro', 'Shadows Into Light', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.myname {
    margin-top: 5px;
}
.tablet-name {
    display: none;
}
.myname,
.tablet-name {
    font-family: 'Shadows Into Light';
}


h1,
h2,
h3,
a {
    color: #4A4A4A;
    text-align: center;
}
a:hover {
    color: cadetblue;
}
h3 {
    font-size: 1.4em;
}

img {
    max-width: 100%;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #6E6E6E;
    padding: 1em;
}
.section-title {
    background-color: #E4ECF4;
}

.main-nav {
    display: flex;
    flex-direction: column;
}
.main-nav a {
    display: block;
    padding: 10px 15px;
    background-color: #FFF;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}
.main-nav a:hover,
.footer-nav a:hover {
    background-color: #FFF;
    border-radius: 10px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}
.treehouse a {
    color: #1D7A2A;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #8A98A4;

}
.intro img {
    max-width: 100%;
    width: 367px;
    margin: auto;
    order: -1; 
}

.portfolio {
    background-color: #FFF;
    padding: 1em;
}

.skills {
    display: flex;
    flex-direction: column;
}
.skills li {
    padding: 10px 15px;
    background-color: #FFF;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.skills a {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: lightskyblue;
}

address {
    text-align: center;
    font-style: normal;
    color: #7F7F7F;
    line-height: 2;
}

footer ul {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-top: solid 1px #E7E7E7;
    padding-top: 20px;
    padding-bottom: 6px;
}
.tablet {
    display: none;
}

footer {
    padding: 20px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .tablet-name {
        display: none;
    }
    .main-nav {
        flex-direction: row;
        justify-content: center;
    }
    .main-nav a,
    .footer-nav a {
        padding: 10px 30px;
        background-color: #FAFAFA;
    }
    .intro {
        display: flex;
        flex-flow: row;
        padding-bottom: 4em;
    }
    .intro p {
        text-align: left;
    }
    .intro img {
        order: 1;
    }
    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }
    #portfolio {
        flex-basis: 100%;
    }
    .portfolio section:nth-of-type(1),
    .portfolio section:nth-of-type(2) {
        margin-top: 2.6em;
    }
    .col {
        flex: 1;
        flex-basis: 40%;
    }
    .primarycol {
        margin-right: 1em;
    }
    .contact    {
        margin: 0 22% 2.4em;
    }
    address {
        line-height: 3;
    }
    .mobile {
        display: none;
    }
    .tablet {
        display: flex;
    }
    .footer-nav {
        justify-content: flex-end;
    }
    .footer-nav li:first-child {
        align-self: flex-start;
        margin-right: auto;
        font: 700 1.2em 'Shadows Into Light';
     }

     .skills {
         margin: 0 16%;
     }
     .skills ul {
         display: flex;
         flex-wrap: wrap;
     }
    .skills li {
        flex: 1;
        flex-basis: 40%;
        border-radius: 10px;
        margin: .5em 1em;
    }
}

@media (min-width: 1024px) {

    body {
        width: 96%;
        max-width: 1400px;    
    }
    .tablet-name {
        display: flex;
    }
    .col {
        flex: 1;
        flex-basis: 30%;
        margin-right: 1em;
    }    
    .main-nav {
        justify-content: flex-end;
        padding: 2em;
    }
    .main-nav li:first-child {
        align-self: flex-start;
        margin-right: auto;
        font-weight: 700;
        font-size: 2em;
     }
     .myname {
         display: none;
     }
     .intro p {
         margin-left: 1em;
     }
     .portfolio section:nth-of-type(1),
     .portfolio section:nth-of-type(2),
     .portfolio section:nth-of-type(3) {
         margin-top: 2.6em;
     }
     .skills {
         max-width: 1000px;
     }
     .skills li {
        flex: 1;
        flex-basis: 20%;
        border-radius: 10px;
        margin: .5em 1em;
    }

}